.vscode/settings.json
headers/.vscode/settings.json
headers/build/alpaca.exe
headers/build/cmake_install.cmake
headers/build/CMakeCache.txt
headers/build/compile_commands.json
headers/build/Makefile
headers/build/.cmake/api/v1/query/client-vscode/query.json
headers/build/.cmake/api/v1/reply/cache-v2-46aca0032470647e4c7a.json
headers/build/.cmake/api/v1/reply/codemodel-v2-f97b7f7eadd857afec48.json
headers/build/.cmake/api/v1/reply/index-2020-08-05T12-09-09-0435.json
headers/build/.cmake/api/v1/reply/target-alpaca-Debug-068a2f60002c7639397b.json
headers/build/CMakeFiles/cmake.check_cache
headers/build/CMakeFiles/CMakeDirectoryInformation.cmake
headers/build/CMakeFiles/CMakeOutput.log
headers/build/CMakeFiles/Makefile.cmake
headers/build/CMakeFiles/Makefile2
headers/build/CMakeFiles/progress.marks
headers/build/CMakeFiles/TargetDirectories.txt
headers/build/CMakeFiles/3.17.0/CMakeCCompiler.cmake
headers/build/CMakeFiles/3.17.0/CMakeCXXCompiler.cmake
headers/build/CMakeFiles/3.17.0/CMakeDetermineCompilerABI_C.bin
headers/build/CMakeFiles/3.17.0/CMakeDetermineCompilerABI_CXX.bin
headers/build/CMakeFiles/3.17.0/CMakeRCCompiler.cmake
headers/build/CMakeFiles/3.17.0/CMakeSystem.cmake
headers/build/CMakeFiles/3.17.0/CompilerIdC/a.exe
headers/build/CMakeFiles/3.17.0/CompilerIdC/CMakeCCompilerId.c
headers/build/CMakeFiles/3.17.0/CompilerIdCXX/a.exe
headers/build/CMakeFiles/3.17.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
headers/build/CMakeFiles/alpaca.dir/build.make
headers/build/CMakeFiles/alpaca.dir/cmake_clean.cmake
headers/build/CMakeFiles/alpaca.dir/CXX.includecache
headers/build/CMakeFiles/alpaca.dir/depend.internal
headers/build/CMakeFiles/alpaca.dir/depend.make
headers/build/CMakeFiles/alpaca.dir/DependInfo.cmake
headers/build/CMakeFiles/alpaca.dir/Exception.cpp.obj
headers/build/CMakeFiles/alpaca.dir/flags.make
headers/build/CMakeFiles/alpaca.dir/Graph.cpp.obj
headers/build/CMakeFiles/alpaca.dir/link.txt
headers/build/CMakeFiles/alpaca.dir/linklibs.rsp
headers/build/CMakeFiles/alpaca.dir/objects.a
headers/build/CMakeFiles/alpaca.dir/objects1.rsp
headers/build/CMakeFiles/alpaca.dir/progress.make
headers/build/CMakeFiles/alpaca.dir/test.cpp.obj
headers/test.c
